@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap");
:root {
  --color-1: #0f1016;
  --text-color: #f0f0f0;
  --accent-color: #2bb7cd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 12pt;
  font-family:
    Poppins,
    Segoe UI,
    Tahoma,
    sans-serif;
  scroll-behavior: smooth;
}
nav {
  height: 60px;
  background-color: var(--color-1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navlink-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav a {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}
nav a:hover,
nav a.active {
  color: var(--accent-color);
}
nav .homelink {
  margin-right: auto;
}
nav svg {
  fill: var(--text-color);
}
#dropdown-active {
  display: none;
}
.open-dropdown-button,
.close-dropdown-button {
  padding: 20px;
  display: none;
}
section {
  padding: 60px 20px;
  min-height: 100vh;
}
section:nth-child(even) {
  background-color: #f4f4f4;
}
footer {
  background-color: var(--color-1);
  color: var(--text-color);
  text-align: center;
  padding: 20px;
}
.home-content {
  padding: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}
.profile-photo {
  width: 40vw;
  height: 40vw;
  max-width: 350px;
  max-height: 350px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow:
    0 0 60px 30px #fff,
    0 0 100px 60px #f0f,
    0 0 140px 90px #0ff;
}
.intro-text {
  max-width: 500px;
  font-size: 2em;
  text-align: center;
}
@media (max-width: 768px) {
  .profile-photo {
    width: 50vw;
    height: 50vw;
    max-width: 300px;
    max-height: 300px;
  }
  .intro-text {
    font-size: 1.5em;
  }
}
@media (max-width: 500px) {
  .home-content {
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    min-height: calc(100vh - 60px);
  }
  .profile-photo {
    width: 60vw;
    height: 60vw;
    max-width: 200px;
    max-height: 200px;
  }
  .intro-text {
    font-size: 1.2em;
  }
  .navlink-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    width: 300px;
    background-color: var(--color-1);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }
  .open-dropdown-button,
  .close-dropdown-button {
    padding: 20px;
    display: block;
  }
  #dropdown-active:checked ~ .navlink-container {
    right: 0;
  }
  #dropdown-active:checked ~ #overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.wrapper .static-txt {
  color: var(--color-1);
  font-size: 1em;
  font-weight: 400;
}
.wrapper .dynamic-txts {
  margin-left: 15px;
  height: 1.5em;
  line-height: 1.5em;
  overflow: hidden;
}
.dynamic-txts li {
  list-style: none;
  color: crimson;
  font-size: 1em;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -6em;
  }
}
.dynamic-txts li span {
  position: relative;
  margin: 5px 0;
  line-height: 1.5em;
}
.dynamic-txts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f4f4f4;
  border-left: 2px solid crimson;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
.fade-in {
  opacity: 0;
  animation: fadeIn ease 2s;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#about {
  background-color: #f9f9f9;
  padding: 60px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-content {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.intro,
.details {
  margin-bottom: 30px;
}

.intro h1 {
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 15px;
}

.intro p {
  font-size: 1.1em;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 20px;
}

.contact-info {
  list-style-type: none;
  padding: 0;
}

.contact-info li {
  font-size: 1.1em;
  margin-bottom: 10px;
  text-align: center;
}

.contact-info li strong {
  font-weight: bold;
}

.contact-info li a {
  color: #2bb7cd;
  text-decoration: none;
}

.contact-info li a:hover {
  text-decoration: underline;
}

.details h2 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 15px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.details th,
.details td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.details th {
  background-color: #f2f2f2;
}

.details p {
  font-size: 1.1em;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .intro h1 {
    font-size: 1.8em;
  }

  .contact-info li {
    text-align: center;
  }

  .details h2 {
    font-size: 1.8em;
  }

  .details p {
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  .intro h1 {
    font-size: 1.5em;
  }

  .intro p,
  .details p {
    font-size: 1em;
  }

  .contact-info li {
    font-size: 0.9em;
  }

  .details h2 {
    font-size: 1.6em;
  }

  .details table {
    font-size: 0.9em;
  }
}

.download-cv-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  color: #fff;
  background-color: #2bb7cd;
  box-shadow: 0 0 20px #2bb7cd;
  text-decoration: none;
  border-radius: 5px;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  animation: fadeInUp 1s ease forwards;
  opacity: 0;
}

.download-cv-btn:hover {
  box-shadow: none;
  background-color: #077080;
  transform: translateY(-5px);
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#projects {
  display: flex;
  justify-content: center;
  align-items: center;
}
.projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100%;
  width: 100%;
  place-items: center;
  grid-gap: 50px;
}
::selection {
  color: #fff;
  background: #1cc7d0;
}
.wrapperp {
  height: 400px;
  width: 320px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.wrapperp .card {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  transform: translateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.wrapperp:hover > .front-face {
  transform: rotateY(-180deg);
}
.wrapperp .card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.wrapperp .back-face {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  transform: rotateY(180deg);
}
.wrapperp:hover > .back-face {
  transform: rotateY(0deg);
}
.wrapperp .back-face img {
  height: 150px;
  width: 150px;
  padding: 5px;
  border-radius: 50%;
  background: #1cc7d0;
}
.wrapperp .back-face .info {
  text-align: center;
}
.back-face .info .title {
  font-size: 30px;
  font-weight: 500;
}

#projects a {
  color: #2bb7cd;
  text-decoration: none;
}

#projects a:hover {
  text-decoration: underline;
}
#projects h1 {
  font-size: 2.2em;
  text-align: center;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .projects-container {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .wrapperp {
    height: 350px;
    width: 280px;
  }

  .back-face .info .title {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .projects-container {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .wrapperp {
    height: 310px;
    width: 240px;
  }

  .back-face .info .title {
    font-size: 20px;
  }

  #projects h1 {
    font-size: 1.8em;
  }
}

#skills {
  text-align: center;
  padding: 20px;
}

#skills h1 {
  font-size: 2.2em;
  margin: 50px 0;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.skill {
  background-color: #f3f3f3;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  padding: 20px;
}

.skill img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.skill p {
  font-size: 1.2em;
  margin: 10px 0 0;
}

.skill:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
  }

  .skill {
    padding: 15px;
  }

  .skill img {
    width: 80px;
    height: 80px;
  }

  .skill p {
    font-size: 1em;
  }

  #skills h1 {
    font-size: 1.8em;
  }
}

@media (max-width: 500px) {
  .skills-container {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 10px;
  }

  .skill {
    padding: 10px;
  }

  .skill img {
    width: 60px;
    height: 60px;
  }

  .skill p {
    font-size: 0.9em;
  }

  #skills h1 {
    font-size: 1.5em;
  }
}

.contactme {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  gap: 50px;
}

#contact h1 {
  font-size: 2.2em;
  text-align: center;
  margin: 25px 0 0;
}

.contactme form {
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

.input-box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.input-field {
  flex: 1 1 48%;
}

.item {
  width: 100%;
  padding: 18px;
  background: transparent;
  border: 2px solid #1cc7d0;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  margin: 12px 0;
}

.textarea-field .item {
  width: 100%;
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  padding: 12px 32px;
  background-color: #1cc7d0;
  box-shadow: 0 0 10px #1cc7d0;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #333;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.5s;
}

button[type="submit"]:hover {
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .input-field {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 500px) {
  .item {
    font-size: 14px;
    padding: 15px;
  }
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 14px;
  }
}
